/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import '../stylesheets/colour';
@import '../stylesheets/mixins';

.checkbox {
    display: flex;
    justify-content: center;
   
    width: auto;

    &__field-label {
        user-select: none;
        display: flex;
        align-items: center;

        @include label;
    }

    &__field-label::before {
        content: '';
        width: 21px;
        height: 21px;
        border: .1em solid $alofa-light-grey;
        border-radius: 4px;
        margin-right: .5em;
        font-size: 0.9em;
    }

    &__input {
        opacity: 0;
        position: absolute;
    }

    &__input:checked + &__field-label::before {
        font-family: "Material Icons";
        content: '\e876';
        font-size: 0.9em;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
    }

    &__input:disabled + &__field-label::before{
        background-color: $alofa-dark-grey;
        color: white;
    }

    &__input:disabled + &__field-label{
       color: $alofa-dark-grey;
    }
}
