/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import '../stylesheets/colour';
@import '../stylesheets/mixins';

$font-size: 0.7em;
.pill-button {
    display: flex;
    justify-content: center;
    align-items: center;

  

    &--red-background {
        background-color: $alofa-primary-red;
    }

    &__label {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px 5px 10px;

        border: 0.16em solid $alofa-primary-red;
        border-radius: 4px;
        color: $alofa-light-grey;

        @include label;

    }

    &__label::before {
        content: '';
    }

    &__input {
        opacity: 0;
        position: absolute;
    }

    &__input:checked + &__label::before {
        font-family: "Material Icons";
        content: '\e876';
        font-size: $font-size;
        border: .1em solid white;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        margin-right: .3em;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
    }

    &__input:checked + &__label {
        color: white;
        background-color: $alofa-primary-red;
    }

}