/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import '../stylesheets/mixins';
@import '../stylesheets/colour';

.radio-button {
    position: relative;

    &__input {
        position: absolute;
        opacity: 0.0;
    }


    &__input:checked + &__field-label {
        background-color: $alofa-primary-red;
        color: white;
    }

    &__field-label {
        user-select: none;
        display: flex;
        flex-wrap: nowrap;
        place-content: center;

        padding-top: 0.4em;
        padding-bottom: 0.4em;
        border: 1px solid $alofa-secondary-red;
        width: 100%;
    
        border-radius: 2em;

        @include label;
    }
}