/* You can add global styles to this file, and also import other style files */

:root {
    font-family: 'Open Sans';
}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

div{
    width: 100%;
}

h1 {
    padding: 10px;
}