.welcome-container{
    display: flex;
    place-content: center;
    height: 100dvh;

    .board {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .btn-group {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;

            .btn {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}