/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import '../stylesheets/colour';
@import '../stylesheets/mixins';

.txt {
    @include textbox;

    &--invalid {
        border-color: $alofa-primary-red;
    }
}