/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import "../stylesheets/mixins";
@import "../stylesheets/colour";

.search-wrapper {
    
    position: relative;
    .search-field {
        @include textbox;
        padding-left: 2.4em;
    }

    .search-icon {
        
        position: absolute;
        top: 12px;
        left: 15px;

    }
}
