/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

@import '../stylesheets/colour';
@import '../stylesheets/mixins';


.btn {

    &--primary {
        @include button;
        background-color: $alofa-primary-red;
        color: white;

        &--disabled {
            @include button;
            background-color: $alofa-grey;
        }
    }

    &--secondary {
        @include button;
        background-color: #fff;
        color: $alofa-primary-red;
        border-color: $alofa-primary-red;
        border-style: solid;
        border-width: 1px;

        &--disabled {
            @include button;
            border-color: $alofa-grey;
            color: $alofa-grey;
            background-color: #fff;
            border-style: solid;
            border-width: 1px;
        }
    }

    
}

