/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.nav-button {
  ._selected {
    img {
      filter: invert(32%) sepia(20%) saturate(7037%) hue-rotate(332deg)
        brightness(84%) contrast(86%);
    }
  }
}
