/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;

    .field {
        padding: 5px 0px 5px 0px;
    }

    .radio {
        padding: 10px 0px 10px 0px;
    }
}