.welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .board {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .btn-group {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}