@import './colour';

@mixin button {
    border: none;
    width: 100%;
    height: 47px;
    border-radius: 34px;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: larger;
}

@mixin textbox {
    border-color: $alofa-dark-grey;
    border-style: solid;
    border-width: 1px;
    height: 48px;
    border-radius: 6px;
    width: 100%;
    font-size: 1.2em;

    padding: 0 10px 0 10px;
}

@mixin label {
    font-size: 1.2em;
    font-family: 'Open Sans';
}