/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
@import "../stylesheets/mixins";
@import "../stylesheets/colour";

.dropdown-wrapper {
    border-radius: 4px;
    border: 1px solid $alofa-dark-grey;
    padding-right: 10px;

    .dropdown {
        @include textbox;
        background-color: #fff;
        border: none;

        &--disabled {
            background-color: $alofa-grey;
        }
    }

}