/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.btn {
    background-color: blue;
}

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login_form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2em;

        .fieldset {
            border: none;
            width: 100%;
        }

        .btn-submit, .btn-cancel {
            padding-top:20px;

            width: 100%
        }
    }
}