
.container-form {

    height: 100vh;
    width: 100vw;
   

    display: flex;
    align-items: center;
    flex-direction: column;
    

    .reg-form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            margin-bottom: 20%;
        }

            
        .field {
            border: none;
            width: 100%;

            &--invalid {
                border-color: red;
                border-width: 1px;
                border-style: solid;
            }
        }

        .btn-group {
            display: flex;
            flex-direction: row-reverse;

            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}
