.photos_container {
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: repeat(2, 120px);
    gap: 15px;
    width: 100%;
    .photos {
        height: 11.875rem;
        width: 11.875rem;
    }
}

.description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
}
