/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  display: flex;
  justify-content: center;

  .board {
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4.5rem 1.5rem 0;
    gap: 2.5rem;
    padding: 0 1rem;
    align-content: center;
    width: 100%;
  }

  .user_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .user_image {
      height: 11.875rem;
      width: 11.875rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.75rem;
    }
  }

  .button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    button {
      max-width: 25rem;
      height: 2.875rem;
    }
  }
}
