/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.header {
    width: 100%;
    height: 80px;

    position: relative;
    padding-top: 10px;
    padding-left: 10px;

    &__logo {
        position: absolute;
        left: 0;
        right: 0;
        height: 39px;
        margin: auto;
    }

    &__back-button {
        position: absolute;
        left: 0;
    }

}
